<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konifar.moat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf32c2493f419cd7bf8292115f51af3c111e39f1" />

        <activity
            android:name=".appcompat.MoatAppCompatActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/appcompat_title"
            android:theme="@style/MoatAppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".materialcomponents.MoatMaterialComponentsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/material_components_title"
            android:theme="@style/MoatMaterialTheme" />

        <!-- OSS Licenses -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

    </application>

</manifest>